<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AI_vs_HUMAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AI_vs_HUMAN.Properties.Settings>
      <setting name="SaveFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExistingFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="YourAsk1Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk1Text" serializeAs="String">
        <value />
      </setting>
      <setting name="YourAsk1IsNumeric" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk2Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk2Text" serializeAs="String">
        <value />
      </setting>
      <setting name="YourAsk2IsNumeric" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk3Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk3Text" serializeAs="String">
        <value />
      </setting>
      <setting name="YourAsk3IsNumeric" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk4Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk4Text" serializeAs="String">
        <value />
      </setting>
      <setting name="YourAsk4IsNumeric" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk5Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk5Text" serializeAs="String">
        <value />
      </setting>
      <setting name="YourAsk5IsNumeric" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value />
      </setting>
      <setting name="FileTXT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileCSV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk1IsString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk2IsString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk3IsString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk4IsString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YourAsk5IsString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pointAskBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="askTimeMax" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="askLimitImg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="askSaveHowLong" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="askSavePaths" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="askGender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="askYears" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="askPopulation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="newFileToTXT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="newFileToCSV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showAnswerByColor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="aiAnswersToo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="aiAnswersTooShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showHumanAnswers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="addPoint" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="takePoint" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="numericSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="numericImgLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="newFileNameTextBox" serializeAs="String">
        <value />
      </setting>
    </AI_vs_HUMAN.Properties.Settings>
  </userSettings>
</configuration>